/* Aula de Flexbox */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-link {
    color: #777;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
}

.banner {
    background-image: url(../img/banner.png);
    height: 235px;
}

/* Aula de Form - Especifico para "trabalhe-conosco.html" */

header.trabalhe-conosco {
  box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

.conteudo-principal {
  margin: 25px 80px 55px 120px;
}

.contato {
    display: flex;
}

.contact-heading {
    font-size: 40px;
    font-weight: 600;
    color: #575757;
}

form, article {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    color: #9b9b9b;
}

input, select {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: solid 1px #9b9b9b;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

textarea {
  height: 80px;
}

.curriculo {
    display: flex;
    margin: 22px 0;
}

button#upload {
    background-color: #C4C4C4;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    width: 118px;
    padding: 0 10px;
    margin-left: 20px;
}

button#submit {
    background-color: #C2185B;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
}

/* Atividade - Parte 1 */

section.encontre-seu-estilo h2 {
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    padding: 20px 0;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

img#photoshoot-1 {
  padding-right: 55px;
}

section.trinta-off {
    background-color: #C2185B;
    height: 660px;
}

.trinta-off h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 800;
  font-size: 44px;
  text-transform: uppercase;
  padding: 60px 0;
  margin: 0;
}

.promo {
    display: flex;
    justify-content: center;
}

.detalhes-1, .detalhes-2, .detalhes-3, .detalhes-4 {
  display: flex;
  flex-direction: column;
}

.detalhes-1, .detalhes-2, .detalhes-3 {
  padding-right: 18px;
}

.descricao {
  background-color: #FFFFFF;
  padding: 15px 0 30px 10px;
}

.descricao p {
  margin: 0;
}

.titulo p {
  font-weight: 600;
  text-transform: uppercase;
}

section.detalhes-sandalia {
    display: flex;
    justify-content: center;
    margin: 160px 120px 110px;
}

.detalhes-sandalia h2 {
  font-weight: 600;
  font-size: 39px;
  text-transform: uppercase;
  margin: 0;
}

.coluna-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    background-color: #C2185B;
    color: #FFFFFF;
    width: 400px;
    margin: 20px 0 55px;
}

.button p {
  text-align: center;
  font-weight: 600;
  font-size: 39px;
  margin: 20px 0;
}

footer {
    background-color: #C2185B;
    color: #FFFFFF;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer .geral {
  font-size: 14px;
  width: 255px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categorias, .institucional {
  margin: 55px 0;
}

footer h5 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}

footer p {
  margin: 0;
}

.geral {
  position: relative;
}

.geral p {
  position: absolute;
  top: 120px;
}